nav {
  background-color: var(--dark-color1);
  z-index: 100;
  width: 100%;
  position: absolute !important;
  margin-top: 0 !important;
  @media (max-width: 1000px) {
    > div:first-child {
      ul {
        display: none !important;
      }

      > div:first-child {
        width: 25%;
        svg {
          display: block !important;
        }
      }
    }
    .small-menu {
      display: flex !important;
    }
  }
  > div:first-child {
    margin-top: 0px;
    padding-bottom: 1em;
    padding-top: 1em;
    h1 {
      font-size: 1.5em;
    }
    .cart-icon {
      position: relative;
      cursor: pointer;
      > span {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: var(--brown);
        border-radius: 100px;
        padding: 10px;
        display: flex;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 600;
        }
      }
    }
    @media (max-width: 780px) {
      padding-left: 20px;
      padding-right: 20px;
      .small-menu {
        flex-direction: column !important;
      }

      > div:first-child {
        width: 62% !important;
      }
    }

    ul {
      li {
        letter-spacing: 3px;
        font-size: 0.9em;
        cursor: pointer;
        font-weight: lighter;
      }
    }

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
  .small-menu {
    display: none;
    background-color: var(--white);
    padding: 7em 2em;
    padding-bottom: 4em;
    width: 100%;
  }
}
