.filter {
  background-color: rgba(0, 0, 0, 0.37);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}
.addedToCart {
  z-index: 100000;
  > * {
    width: 100% !important;
  }
  width: 400px;
  background-color: var(--white);
  top: 100px;
  right: 50px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 10px 2px black;
  > div:first-of-type {
    p:last-of-type {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: underline;
      cursor: pointer;
    }
  }
  > div:nth-of-type(2) {
    margin-bottom: 30px;
    p:first-of-type {
      color: rgba(0, 0, 0, 0.5);
    }
    > div {
      > div {
        margin-bottom: 20px;
        > div:first-child {
          gap: 15px;
          img {
            width: 64px;
            border-radius: 12.5px;
          }
          p {
            span {
              display: block;
            }
            span:first-of-type {
              font-size: 15px;
              font-weight: bold;
            }
            span:last-of-type {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.5);
              font-weight: bold;
            }
          }
        }
        > div:last-child {
          > div {
            width: 96px;
            height: 32px;
            span {
              font-size: 16px;
            }
            span:nth-child(1) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  button {
    background-color: var(--brown);
    color: var(--white);
  }
}
