@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;800&display=swap");
nav {
  background-color: var(--dark-color1);
  z-index: 100;
  width: 100%;
}
@media (max-width: 1000px) {
  nav > div:first-child ul {
    display: none !important;
  }
  nav > div:first-child > div:first-child {
    width: 25%;
  }
  nav > div:first-child > div:first-child svg {
    display: block !important;
  }
  nav .small-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
nav > div:first-child {
  padding-bottom: 1em;
  padding-top: 1em;
}
nav > div:first-child h1 {
  font-size: 1.5em;
}
@media (max-width: 780px) {
  nav > div:first-child {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav > div:first-child .small-menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  nav > div:first-child > div:first-child {
    width: 62% !important;
  }
}
nav > div:first-child ul li {
  letter-spacing: 3px;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: lighter;
}
nav > div:first-child svg {
  cursor: pointer;
}
nav > div:first-child svg {
  width: 1.5em;
  height: 1.5em;
}
nav .small-menu {
  display: none;
  background-color: var(--white);
  padding: 7em 2em;
  padding-bottom: 4em;
  width: 100%;
}

.home header {
  background-color: var(--dark-color1);
  padding-top: 3em;
  padding-bottom: 3em;
}
@media (max-width: 1200px) {
  .home header {
    font-size: 14px;
    padding-bottom: 8em;
  }
}
@media (max-width: 1000px) {
  .home header {
    padding-top: 1em;
    padding-bottom: 3em;
  }
  .home header .front-product {
    height: 45em;
    background-image: url("../assets/home/desktop/Bitmap.png");
    background-position: center center;
    background-size: cover;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .home header .front-product > div:last-child {
    display: none !important;
  }
  .home header .front-product > div:first-child {
    text-align: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
@media (max-width: 550px) {
  .home header {
    font-size: 3vw;
  }
}
.home header .front-product {
  position: relative;
}
.home header .front-product > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.home header .front-product > div:first-child h4 {
  color: rgba(255, 255, 255, 0.491);
  letter-spacing: 0.8em;
  font-size: 1em;
}
.home header .front-product > div:first-child h4 span {
  margin-left: 0.5em;
}
.home header .front-product > div:first-child h1 {
  font-size: 4em;
  line-height: 1em;
  font-weight: 600;
}
.home header .front-product > div:first-child h1 span {
  display: block;
}
.home header .front-product > div:first-child p {
  font-size: 1em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5em;
}
.home header .front-product > div:first-child p span {
  display: block;
}
.home header .front-product > div:first-child button {
  background-color: transparent;
  color: white;
  border: 0;
  width: 9em;
  height: 3em;
  font-size: 1em;
  outline: 3px solid var(--brown);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home header .front-product > div:first-child button:hover {
  background-color: var(--brown);
}
.home header .front-product > div:last-child {
  width: 40em;
  height: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.home header .front-product > div:last-child img {
  width: 110%;
  height: 110%;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}
@media (max-width: 780px) {
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
}
.products > div {
  background-color: var(--gray);
  border-radius: 5px;
  width: 100%;
  padding-top: 8em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.products > div p {
  font-size: 1.5em;
  font-weight: 800;
}
.products > div button {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
.products > div button:hover {
  color: var(--brown) !important;
}
.products > div button svg {
  width: 0.8em;
  height: 0.8em;
  margin-left: 10px;
}
.products > div img {
  position: absolute;
  top: -4em;
  width: 7.5em;
}

:root {
  --brown: #d87d4a;
  --dark-color1: #121212;
  --gray: #f1f1f1;
  --very-gray: #fafafa;
  --light-brown: #fbaf85;
  --white: #ffff;
  --black: #000000;
}

* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}