@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;800&display=swap");
nav {
  background-color: var(--dark-color1);
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
nav > div:first-child {
  padding-bottom: 2.7em;
  padding-top: 2.7em;
}
@media (max-width: 780px) {
  nav > div:first-child {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav > div:first-child .small-menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  nav > div:first-child > div:first-child {
    width: 62% !important;
  }
}
@media (max-width: 1200px) {
  nav > div:first-child ul {
    display: none !important;
  }
  nav > div:first-child > div:first-child {
    width: 35%;
  }
  nav > div:first-child > div:first-child svg {
    display: block !important;
  }
}
nav > div:first-child ul li {
  letter-spacing: 3px;
  font-size: 1.3em;
  cursor: pointer;
}
nav > div:first-child svg {
  cursor: pointer;
}
nav > div:first-child svg {
  width: 2em;
  height: 2em;
}
nav .small-menu {
  gap: 2em;
  padding: 8em 3em;
  padding-bottom: 4em;
}
@media (max-width: 780px) {
  nav .small-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
nav .small-menu > div {
  background-color: var(--gray);
  border-radius: 16px;
  width: 100%;
  padding-top: 8em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
nav .small-menu > div p {
  font-size: 1.5em;
  font-weight: 800;
}
nav .small-menu > div button {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.5);
}
nav .small-menu > div button svg {
  width: 0.8em;
  height: 0.8em;
  margin-left: 10px;
}
nav .small-menu > div img {
  position: absolute;
  top: -4em;
  width: 7.5em;
}

.home .head {
  font-size: 14px;
  background-color: var(--dark-color1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100px 1000px;
}
.home .head .front-product {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  padding: 2em 30em;
}
@media (max-width: 2000px) {
  .home .head .front-product {
    font-size: 8px;
  }
}
@media (max-width: 2000px) and (max-width: 1450px) {
  .home .head .front-product {
    font-size: 10px;
    padding: 0 !important;
    padding-bottom: 15em !important;
  }
  .home .head .front-product > div:first-child {
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center;
  }
}
@media (max-width: 2300px) {
  .home .head .front-product {
    padding: 1em 9.5%;
  }
}
@media (max-width: 1000px) {
  .home .head .front-product {
    font-size: 8px;
  }
}
.home .head .front-product > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 100px;
}
.home .head .front-product > div:first-child h4 {
  color: rgba(255, 255, 255, 0.491);
  letter-spacing: 0.8em;
  font-size: 2em;
}
.home .head .front-product > div:first-child h4 span {
  margin-left: 0.5em;
}
.home .head .front-product > div:first-child h1 {
  font-size: 9em;
  line-height: 1em;
  font-weight: 600;
}
.home .head .front-product > div:first-child h1 span {
  display: block;
}
.home .head .front-product > div:first-child p {
  font-size: 2.2em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5em;
}
.home .head .front-product > div:first-child p span {
  display: block;
}
.home .head .front-product > div:first-child button {
  background-color: transparent;
  color: white;
  border: 0;
  width: 20em;
  height: 5.5em;
  font-size: 1.5em;
  outline: 3px solid var(--brown);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home .head .front-product > div:first-child button:hover {
  background-color: var(--brown);
}
.home .head .front-product > div:last-child {
  width: 90em;
  height: 90em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.home .head .front-product > div:last-child img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 110%;
  height: 110%;
}

:root {
  --brown: #d87d4a;
  --dark-color1: #141414;
  --gray: #f1f1f1;
  --very-gray: #fafafa;
  --light-brown: #fbaf85;
  --white: #ffff;
  --black: #000000;
}

* {
  font-family: "Manrope", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}