@use "../components/Shared/Nav/Nav";
@use "../components/Home/Head/Head";
@use "../components/Shared/Products/Products";
@use "../components/Home/Sections/Section1.scss";
@use "../components/Home/Sections/Section2.scss";
@use "../components/Home/Sections/Section3.scss";
@use "../components/Shared/Info/Info.scss";
@use "../components/Shared/Footer/Footer.scss";
@use "../components/ProductsPgs/ProductsPgs.scss";
@use "../components/ProductDetails/ProductDetails.scss";
@use "../components/ProductDetails/Product.scss";
@use "../components/ProductDetails/FeatursBox";
@use "../components/ProductDetails/Form.scss";
@use "../components/ProductDetails/Suggestion";
@use "../components/Shared/Nav/AddedToCard/AddedToCart.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;800&display=swap");
:root {
  --brown: #d87d4a;
  --dark-color1: #121212;
  --gray: #f1f1f1;
  --very-gray: #fafafa;
  --light-brown: #fbaf85;
  --white: #ffff;
  --black: #000000;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--very-gray);
}
html {
  scroll-behavior: auto !important;
}
* {
  font-family: "Manrope", sans-serif;
}
main {
  @media (max-width: 550px) {
    font-size: 3vw;
  }
}
.home {
  > * {
    margin-top: 10em;
  }
}
a {
  color: var(--white) !important;
  text-decoration: none;
}
.new {
  color: var(--brown);
  letter-spacing: 10px;
  font-size: 1em;
  margin-bottom: 1em;
}
.button {
  width: 11em;
  height: 3.5em;
  font-weight: 800;
  font-size: 0.8em;
  transition: 0.3s;
  letter-spacing: 1.2px;
  border: 0;
  background-color: transparent;
}
.text {
  line-height: 1.75em;
  letter-spacing: 1.2px;
  font-size: 1.1em;
  span {
    display: block;
  }
}
.title {
  font-weight: bold;
  font-size: 2.75em;
  letter-spacing: 3px;
  white-space: nowrap;
  span {
    display: block;
  }
}
.inc-dec {
  gap: 20px;
  > div {
    background-color: var(--gray);
    padding-left: 1em;
    padding-right: 1em;
    width: 8em;
    height: 3em;
    > div {
      cursor: pointer;
    }
    span {
      font-weight: bold;
      font-size: 1em;
      &:first-of-type,
      &:last-of-type {
        color: rgba(0, 0, 0, 0.25);
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
  button {
    color: var(--white);
    background-color: var(--brown);
    &:hover {
      background-color: var(--light-brown);
    }
  }
}
