nav {
  background-color: var(--dark-color1);
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  > div:first-child {
    padding-bottom: 2.7em;
    padding-top: 2.7em;
    @media (max-width: 780px) {
      padding-left: 20px;
      padding-right: 20px;
      .small-menu {
        flex-direction: column !important;
      }

      > div:first-child {
        width: 62% !important;
      }
    }
    @media (max-width: 1200px) {
      ul {
        display: none !important;
      }

      > div:first-child {
        width: 35%;
        svg {
          display: block !important;
        }
      }
    }
    ul {
      li {
        letter-spacing: 3px;
        font-size: 1.3em;
        cursor: pointer;
      }
    }
    svg {
      cursor: pointer;
    }
    svg {
      width: 2em;
      height: 2em;
    }
  }
  .small-menu {
    gap: 2em;
    padding: 8em 3em;
    padding-bottom: 4em;
    @media (max-width: 780px) {
      flex-direction: column;
    }
    > div {
      background-color: var(--gray);
      border-radius: 16px;
      width: 100%;
      padding-top: 8em;
      padding-bottom: 2em;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      p {
        font-size: 1.5em;
        font-weight: 800;
      }
      button {
        font-size: 1.4em;
        color: rgba(0, 0, 0, 0.5);
        svg {
          width: 0.8em;
          height: 0.8em;
          margin-left: 10px;
        }
      }
      img {
        position: absolute;
        top: -4em;
        width: 7.5em;
      }
    }
  }
}
