nav {
  background-color: var(--dark-color1);
}
@media (max-width: 780px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav > div > div {
    width: 62% !important;
  }
}
nav > div {
  border-bottom: 2px solid #9797973b;
  padding-bottom: 2.7em;
  padding-top: 2.7em;
}
@media (max-width: 1200px) {
  nav > div ul {
    display: none !important;
  }
  nav > div > div:first-of-type {
    width: 35%;
  }
  nav > div > div:first-of-type svg:first-of-type {
    display: block !important;
  }
}
nav > div ul li {
  letter-spacing: 3px;
  font-size: 1.3em;
  cursor: pointer;
}
nav > div svg {
  cursor: pointer;
}
nav > div svg {
  width: 2em;
  height: 2em;
}