.product {
  padding-top: 14em;
  gap: 7em;
  margin-bottom: 6em;
  @media (max-width: 1200px) {
    img {
      &:first-of-type {
        display: none !important;
      }
      &:last-of-type {
        display: inline-block !important;
      }
    }
  }
  @media (max-width: 1000px) {
    img {
      &:first-of-type {
        display: inline-block !important;
        width: 100% !important;
      }
      &:last-of-type {
        display: none !important;
      }
    }
    gap: 4em;
    > div {
      width: 100% !important;
    }
    flex-direction: column;
  }
  img {
    &:first-of-type {
      display: inline-block;
    }
    &:last-of-type {
      display: none;
    }
  }
  > div {
    h1 {
      margin-bottom: 1em;
    }
    p {
      &:first-of-type {
        margin-bottom: 1.5em;
      }
      &:last-of-type {
        margin-bottom: 3em;
      }
    }
  }
}
