.suggestion {
  text-align: center;
  margin-bottom: 15em !important;

  h1 {
    margin-bottom: 1.75em;
    font-size: 2em;
  }
  > div {
    @media (max-width: 1400px) {
      img {
        width: 22em !important;
        height: 22em !important;
      }
    }
    @media (max-width: 1200px) {
      img {
        width: 18em !important;
        height: 18em !important;
      }
    }
    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 4em;
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }
    img {
      width: 25.5em;
      height: 25.5em;
      border-radius: 7.5px;
    }
    p {
      font-weight: bold;
      font-size: 1.5em;
      margin-top: 1.25em;
      letter-spacing: 1px;
      margin-bottom: 1.25em;
    }
    button {
      background-color: var(--brown);
      color: var(--white);
      &:hover {
        background-color: var(--light-brown);
      }
    }
  }
}
