.products {
  display: flex;
  gap: 2em;
  @media (max-width: 780px) {
    flex-direction: column;
    gap: 2em;
  }
  > div {
    background-color: var(--gray);
    border-radius: 5px;
    width: 100%;
    padding-top: 9em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    p {
      font-size: 1.5em;
      font-weight: 800;
    }
    button {
      font-size: 1.2em;
      font-weight: 600;
      a {
        color: rgba(0, 0, 0, 0.5) !important;
      }
      svg {
        width: 0.8em;
        height: 0.8em;
        margin-left: 10px;
      }
    }
    img {
      position: absolute;
      top: -4em;
      width: 15em;
    }
  }
}
