footer {
  background-color: var(--dark-color1);
  padding-top: 4em;
  padding-bottom: 3em;
  margin-top: 10em;
  > div {
    @media (max-width: 1000px) {
      > div:first-child {
        flex-direction: column;
        margin-bottom: 1.5em;
      }
      > p {
        width: 100% !important;
        margin-bottom: 4em;
      }
      div {
        transform: translateY(0) !important;
      }
    }
    @media (max-width: 550px) {
      align-items: center;
      text-align: center;
      div {
        align-items: center;
        flex-direction: column;
      }
      > div:last-child {
        gap: 2.5em;
        > div:last-child {
          flex-direction: row;
        }
      }
    }
    > div:first-child {
      h3 {
        font-weight: 800;
        margin-bottom: 1.5em;
      }
      > div {
        gap: 1.5em;
        p {
          transition: 0.3s;
          font-weight: 600;
          font-size: 0.9em;
          color: var(--white);
          cursor: pointer;
          &:hover {
            color: var(--brown);
          }
        }
      }
    }
    > p {
      color: rgba(255, 255, 255, 0.5);
      width: 50%;
    }
    > div:last-child {
      > div:last-child {
        gap: 1em;
        transform: translateY(-60px);
        > svg {
          cursor: pointer;
          transition: 0.3s;
          fill: var(--white);
          &:first-of-type {
            &:hover {
              fill: #4064ac;
            }
          }
          &:nth-of-type(2) {
            &:hover {
              fill: #d62e66;
            }
          }
          &:last-of-type {
            &:hover {
              fill: #1c9cea;
            }
          }
        }
      }
    }
  }
}
