.home header {
  background-color: var(--dark-color1);
  padding-top: 3em;
  padding-bottom: 3em;
  @media (max-width: 1200px) {
    font-size: 14px;
    padding-bottom: 5em;
    padding-top: 5em;
  }
  @media (max-width: 1000px) {
    padding-top: 1em;
    padding-bottom: 3em;
    .front-product {
      height: 45em;
      background-image: url("../assets/home/desktop/Bitmap.png");
      background-position: center center;
      background-size: cover;
      > div:last-child {
        display: none !important;
      }
      > div:first-child {
        text-align: center;
        align-items: center !important;
      }
      justify-content: center !important;
    }
  }
  @media (max-width: 550px) {
    font-size: 3vw;
  }
  .front-product {
    position: relative;

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 2em;
      align-items: flex-start;
      h4 {
        color: rgba(255, 255, 255, 0.491);
        letter-spacing: 0.8em;
        font-size: 1em;
        span {
          margin-left: 0.5em;
        }
      }
      h1 {
        font-size: 4em;
        line-height: 1em;
        font-weight: 600;
        span {
          display: block;
        }
      }
      p {
        font-size: 1em;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.75);
        line-height: 1.5em;
        span {
          display: block;
        }
      }
      button {
        background-color: transparent;
        color: white;
        border: 0;
        width: 9em;
        height: 3em;
        font-size: 1em;
        outline: 3px solid var(--brown);
        transition: 0.3s;
        &:hover {
          background-color: var(--brown);
        }
      }
    }
    > div:last-child {
      width: 40em;
      height: 40em;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 110%;
        height: 110%;
      }
    }
  }
}
